
<div class="container">
    <div *ngIf="!ListaFinal || ListaFinal.length == 0">No items to display</div>

    <table *ngIf="ListaFinal && ListaFinal.length > 0" class="table table-bordered tableCrud">
        <thead>
            <tr>
                <th class="danger">Project Id</th>
                <th class="danger">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of ListaFinal | orderBy : ['-Id']">
                <td>{{user.Id}}</td>
                <td>{{user.Title}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" (click)="eseTest()">Show projects</button>
</div>